
.inputMsg
{
	position: absolute;
	top:0px;
	left:0px;
	max-height: 300px;
	overflow: auto;
	width: 85%;
	min-height: 50px;
	resize:none;
	border: none;
}
.h1header
{
	position:relative;
	height: 10%;
}
ol time {
    color: #a0a5a5;
    font-size: 9px;
    padding-left: 1%; 
    clear: right;
    padding-left: 5px;
}

li
{
	color: #000;
	font-size: 13px;
	margin-left: 0px;
	min-height: 50px;
	list-style: none;
	margin-bottom:auto;
	height: fit-content;
	width:fit-content;
}
.msgClass:hover
{
	 background-color: #D8DADA;
}
.msgClass {
	border-radius: 10px;
	min-width:300px;
	min-height: 38px;
	border: 1px solid #b3b7b7;
	width:fit-content;
	background-color: white;
	margin-bottom:10px;
	list-style: none;
	max-width: 600px;
	word-wrap: break-word; 
	padding: 3px;
	position: relative;
	left:83px;
}
li cite {
	padding: 5px;
	font-style: normal;
	font-weight: bold;
}
li div{
	padding-left:5px;
}
li img {
	padding-top: 2px;
	padding-right: 5px;
	float:left;
	height:37px;
	width: 36px;
	border-radius: 100px;
}

.title {
    color: black;
    position: relative;
    left: 4%;
    width: 96%;
    font-size: 20px;
    font-family: Nunito; 
}
::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

main .msgsList
{
	top:0;
	position:relative;
	overflow: auto;
    width: 80%;
	height:inherit;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-right: 10px;
	scroll-behavior: auto;
	margin-bottom: 0px;
	margin-left:0px;
	overflow-x: hidden;
}
.deleteButton
{
	background: url(../images/delete-icon.png) no-repeat;
    display: none;
	float:right;
    outline: none;
    height: 15px;
	border: 0px;
	margin-top:5px;
}
li:hover .deleteButton{
	display: block;
}
.msgForm 
{
	bottom:0px;
	border-bottom:solid thick red;
	border-top:solid thin grey;

}
/*.msgForm 
{
	bottom:0px;
	background-color: white;
	width: 100%;
	float: left;
	position: fixed;
	height: 40%;
	margin-bottom: 0px;
	min-height: 150px;
}*/
.hideDetails{
	display: none;
	visibility: hidden;
}
.msgdetails{
/*position: fixed;
right:50px;*/
font-size: 13px;
display: inline-block;
}
.stats dd img{
	height: 11px;
}
.stats{
	display: flex;
	top: 70px;
	position:fixed;
	right:4%;
	float: right;
}
.stats dd{
	font-weight: bold;
	display: inline;
	margin-left: 2px;
    margin-right: 0px;
}

.usrdetails{
/*position: fixed;
right:100px;*/
font-size: 13px;
height: 10%;
display: inline-block;
}
.submitMsgBtn
{

	width: 15%;
	float: right;
	border: none;
	background-color:white; 
	padding: 0px;
	height: 51px;
	width: 51px;
}
.submit
{
	position:absolute;
	/* left:0px;
	top:0px;*/
	width: 20;
	height: 20;
	z-index:-1;
	align-content: center;
}
.submit-frame
{
	position:absolute;
	/*left:40px;
	top:10px;*/
	width: 42;
	height: 42;
	z-index:-1;
}

main
{
	position: fixed;
	float:right;
	height: 80%;
	width: 85%;
	right: 0;
	background-color: #f6f6f6;
	scroll-behavior: auto;
	overflow: hidden;
	margin-bottom: 0px;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:15%;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: hidden; /* Enable scrolling if the sidenav has too much content */
    background-color: #61d290;
	float:left;
}

header {
	z-index: 20;
	background-color: #353744;
	height: 15%;
}
.modal {
	border: 1px solid black;
	position: fixed;	
	top: 0;
	left: 0;	
	right: 0;
	bottom: 0;
	width: 80%;
	max-width: 600px;
	max-height: 300px;
	margin: auto;
	background-color: white;
	padding: 20px;
	box-shadow: 0 0 10px 0 black;
}

.Modal-overlay {
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 64;
	left: 0;
}

.Modal {
	display: none;
}

.Modal:target {
	display: block;
}
body {
	font-family: 'Nunito' , arial, sans-serif;
  font-size: 15px;
  overflow: hidden;
	margin: 0px;
}




/****************************/
.Growable {
	position: relative;
	border: 1px solid;
	max-height: 300px;
	overflow: hidden;
	-webkit-scrollbar: red;
}

.Growable textarea,
.Growable pre {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 0.5em;
}

.Growable textarea {
	width: 100%;
	resize: none;
	border: none;
	
	position: fixed;
	bottom: 0; left: 0;
	height: 50%;
	overflow: visible;
}